*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f7f7f7;
    color:#222;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#fff;
    box-shadow:0 2px 12px rgba(0,0,0,.08);
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:600;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.tagline{
    color:#777;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-text{
    max-width:700px;
    margin:auto;
    color:#666;
    line-height:1.8;
    font-size:20px;
}

.search-box{
    display:flex;
    justify-content:center;
    margin:40px auto;
    max-width:600px;
}

.search-box input{
    width:100%;
    padding:16px;
    border:1px solid #ddd;
    border-radius:50px 0 0 50px;
    outline:none;
    font-size:16px;
}

.search-box button{
    padding:16px 28px;
    border:none;
    background:black;
    color:white;
    border-radius:0 50px 50px 0;
    cursor:pointer;
}

.categories{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-top:35px;
}

.categories span{
    background:#fff;
    padding:12px 22px;
    border-radius:40px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-weight:600;
}
