*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;
    background:#f7f7f7;
    color:#222;

}

.navbar{

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    box-shadow:0 2px 15px rgba(0,0,0,.08);

}

.logo{

    font-size:32px;

    font-weight:bold;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    text-decoration:none;

    color:#333;

    font-weight:600;

}

.hero{

    text-align:center;

    padding:120px 20px;

}

.hero h1{

    font-size:58px;

    margin-bottom:20px;

}

.hero p{

    max-width:700px;

    margin:auto;

    line-height:1.8;

    font-size:20px;

    color:#666;

}

.hero-btn{

    display:inline-block;

    margin-top:40px;

    padding:16px 40px;

    background:black;

    color:white;

    border-radius:50px;

    text-decoration:none;

    font-weight:bold;

}
